<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()+', ' + person.getAge()}">VALUE</p>

<p th:text="${'Книги: '}"
th:if="${not #lists.isEmpty(book)}">books
</p>
<p th:if="${not #lists.isEmpty(book)}"
 th:each="book: ${book}">
    <a th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
<p th:text="${'Человек пока не взял ни одной книги'}" 
th:unless="${not #lists.isEmpty(book)}">no_books
</p>
<hr/>
<br/>

<form th:method="GET" th:action="@{/people/{person_id}(person_id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{person_id}(person_id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>